.align{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img{
    width: auto;
}

p{
    font-size: 2vw;
}

a{
    color: #EF5860;
}

a:hover{
    color: #4A525C;
}